/* Global */
* {
    box-sizing: border-box;
	font-family: "Calibri";
}

body {
    margin: 0;
    background-color: Gainsboro;
}

a {
    text-decoration: none;
    color: orangered;
    font-size: 25px;
    margin-left: 30px;
}

h2 {
    font-size: 35px;
    padding-left: 30px;
    color: darkblue;
}

ul {
    color: orangered;
    font-size: 25px;
    padding-left: 0;
}

p {
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    color: black;
}



/* Header */
.header {
    position: fixed;
    width: 100%;
    height: 60px;
    color: white;
    background-color: darkblue;
}

.title {
    float: left;
    padding-left: 15%;
}

.title-hyperlink {
    margin-left: 0;
    font-size: 45px;
    font-weight: bold;
    color: white;
}

.login {
    float:right;
    margin: 10px 15%;
    height: 40px;
    width: 100px;
    background-color: orangered;
    text-align: center;
}

.login-hyperlink {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: auto;
}

/* Flash */
.flash {
    position: fixed;
    top: 80px;
    height: 20px;
    font-size: 18px;
    width: 70%;
    left: 15%;
    color: white;
    text-align: center;
    background-color: red;
}

/* Main */
.main {
    position : fixed;
    top: 100px;
    left: 15%;
    width: 70%;
    background-color: white;
    outline: grey solid thin;
}

.nav{
    float: left;
    width: 30%;
}

.content {
    float: right;
    width: 70%;
}

.option {
    margin-top: 30px;
}

.inline-link {
    margin-left: 0;   
}


.form {
    font-size: 25px;
    margin-left: 30px;
}

/* Login */
.signIn{
    display: block;
    margin: 30px;
}

#result {
    margin: 30px;
}
