<!DOCTYPE html>
<!--html code for add category page-->
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <!--header-->  
        {% include "header.html" %}
        
        <!--content-->
        <div class="main">
            <h2>Edit Category</h2>      
            <form class="form" action="{{url_for('addCategory')}}" method="post">
                <dl>
                <dt>Title</dt>
                    <input type="text" size="40" name="name" placeholder="Title">
                <dt><input type="submit" value="Submit"></dt>                    
                </dl>
            </form>
        </div>
    </body>
</html>
