<!DOCTYPE html>
<!--html code for delete item page-->
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <!--header-->  
        {% include "header.html" %}
        
        <!--content-->   
        <div class="main">
            <h2>Delete Item</h2>
            <p>Are you sure you want to delete <b>{{item.name}}</b>?</p>
            <form class="form" action="{{url_for('deleteItem', category_id=category_id, item_id=item.id)}}" method="post">
            <dl><input type="submit" value="Submit"></dl>
            </form>
        </div>
    </body>
</html>
