<!DOCTYPE html>
<!--html code for item page-->
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <!--header-->  
        {% include "header.html" %}
        
        <!--content-->  
        <div class="main">
            <h2>{{item.name}}</h2>
            <p>{{item.description}}</p>
            <p>
            <a class="inline-link" href="{{url_for('editItem', category_id=item.category.id, item_id=item.id)}}">Edit</a>
            |
            <a class="inline-link" href="{{url_for('deleteItem', category_id=item.category.id, item_id=item.id)}}">Delete</a>
            </p>
        </div>
    </body>
</html>
