<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}" >
    </head>

    <body>
        {% include "header.html" %}
        <div class = 'container'>
        <div class = 'nav'>
            <h2>Categories</h2>
            <ul class = 'list' style="list-style-type:none">
            {% for c in categories %}
            <li><a href = "{{url_for('category', category_name = c.name)}}">{{c.name}}</a></li>
           
            {% endfor %}
            </ul>
        
        </div>
        

        <div class = 'right'> 
            <div class = 'content'>
            <h2>Latest Items</h2>
            <ul class = 'list' style="list-style-type:none">
            {% for i in items %}
            <li><a href = "{{url_for('item', category_name = i.category.name, item_name=i.name)}}">{{i.name}}</a>
            <i>({{i.category.name}})</i>
            
            </li>
            {% endfor %}
            </div>
        </div>
        </div>
  
    </body>
</html>
