<!DOCTYPE html>
<!--html code for public catalog page-->
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" >
    </head>
    <body>
        <!--header-->
        {% include "header.html" %}
        
        <div class="main">
        <!--nav-->
        <div class="nav">
            <h2>Categories</h2>
            <ul style="list-style-type:none">
            {% for c in categories %}
            <li><a href="{{url_for('category', category_id=c.id)}}">{{c.name}}</a></li>
            {% endfor %}
            </ul>
        </div>
        
        <!--content-->
        <div class="content"> 
            <h2>Latest Items</h2>
            <ul style="list-style-type:none">
            {% for i in items %}
            <li>
                <a href="{{url_for('item', category_id=i.category.id, item_id=i.id)}}">{{i.name}}</a>
                <i>({{i.category.name}})</i>
            </li>
            {% endfor %}
        </div>
        </div>
    </body>
</html>
